.footer {
    color: #ffffff;
    background-color: #1496ed;
}
footer.footer div.content p {
    margin: 0em;
}

h1.hero-title{
    color: #000 !important;
}
.date-item {
    color: #aaaaaa;
}
.table tr.is-selected {
    background-color: #1496ed8a;
    color: #000;
}
.table tr td.event_col {
    border-style: none;
}
.is-passed {
    background-color: #e2f7f4;
}
a.slide-link{
    text-decoration: underline;
}
ul.readings-list li{
    list-style-type: square;
}
a.white-link {
    color: #ffffff;
}
a.white-link:visited {
    color: #ffffff;
}

.ms-teams-button{
    color: #6264a7;
}